body {
    background-color: #370617;
    margin: 0;
}

.flex__example {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: 98px auto;
    justify-content: center;
    align-self: center;
    gap: 20px;
}

.box {
    background-color: #F48C06;
    padding: 20px;
    border-radius: 8px;
    width: 468px;
    height: 160px;
    justify-content: center;
    display: flex;
}

.inner-box {
  background-color: #9D0208;
    width: 78px;
    height: 78px;
    margin-right: 20px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box1 {
    justify-content: flex-start;
    align-items: flex-end;
}

.box2 {
    justify-content: center;
    align-items: stretch;
}

.box2 .inner-box22 {
    background-color: #9D0208;
    width: 78px;
    align-items: stretch;
    margin-right: 20px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box3 {
    justify-content: flex-end;
    align-items: center;
}

.box4 {  
    align-self: center;
    justify-content: flex-start;
    gap: 97px;
}

.box4 .inner-box3 {
    background-color: #9D0208;
    width: 78px;
    height: 78px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-self: flex-end;
}

.box5 {
   
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-size: 12px;
    text-align: center;
    justify-content: space-around;
} 

.inner-box1 {
    background-color: #9D0208;
    width: 78px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: stretch;
    }

.box6 {
    justify-content: space-between;
    align-items: center;
} 

.box6 .inner-box2 {
    flex-grow: 2;
    background-color: #9D0208;
    width: 78px;
    height: 78px;
    margin-right: 20px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}